# ---------------------------
# Airflow & General Settings
# ---------------------------
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=.

# ---------------------------
# Shopify API Credentials
# ---------------------------
SHOP_NAME=your-shop-name
ADMIN_ACCESS_TOKEN=your-admin-access-token
API_KEY=your-api-key
API_SECRET=your-api-secret

# ---------------------------
# Postgres Credentials
# ---------------------------
POSTGRES_DB=your_db_name
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ---------------------------
# Airflow SMTP (Email Alerts)
# ---------------------------
AIRFLOW__SMTP__SMTP_HOST=smtp.gmail.com
AIRFLOW__SMTP__SMTP_PORT=587
AIRFLOW__SMTP__SMTP_STARTTLS=True
AIRFLOW__SMTP__SMTP_SSL=False
AIRFLOW__SMTP__SMTP_USER=someone@example.com
AIRFLOW__SMTP__SMTP_PASSWORD=some-gmail-app-password
AIRFLOW__SMTP__SMTP_MAIL_FROM=someone@example.com